pm2:
  version: latest
  user: root
  startup:
    platform: systemd
    home_path: /var/pm2
  apps:
    example:
      main_file: /opt/example/server.js
      args:
        - 8080
      options:
        'log': /var/log/example.log
        'log-date-format': llll
